@import 'default';

$primary-color : #000;
$primary-font : sans-serif, "verdana";
$primary-font-color : #fff;


body{
    background-color: $primary-color;
    font-family: $primary-font;
    color: $primary-font-color;
}

//using sass nesting
.container{
    width: 100%;
    height: 100%;
    nav{
        ul{
            li{
                font-size: 3em;
                &:nth-child(1){
                    font-weight: bold;
                }

                &::nth-child(-1){
                    font-size: 1em;
                }
            }
        }
    }

    a{
        text-decoration: none;
        &:hover{
            color: red;

        }
    }
}

//using partials
// @import


//mixins
    
@mixin transform-it($prop1, $prop2) {
    width: $prop1;
    height: $prop2;
    background-color: $primary-color;
    -webkit-transform: rotate(20deg) scale(1.5);
    -ms-transform: rotate(20deg) scale(1.5);
    transform: rotate(20deg) scale(1.5);
}

.transform{
@include transform-it(300, 300);
}  
.transform2{
    @include transform-it(500, 500);
    }   

// using s

%extended-border{
    border: 1px solid red;
    border-radius: 50%;
    background-color: tomato;
}

.border1{
    @extend %extended-border;
}

.border2{
    @extend %extended-border;
    display: block;
}

// implementing pseudo using hover on anchor
.pseudo{
    a{
   
     &:hover{
         text-decoration: none;
     }

    }
}

//operators, additions, subtraction and multiplication

.element{
    font-size: 10em + 4;
    height: 20% * 5;
}
